{% extends "authsite/base.html" %}
{% block content %}
<br><br>
<div class="row white">
    <div class="large-12 columns">
        <P>
        {% if user.is_authenticated %}
                Welcome {{ user.username }}  |
                <A href="/restricted/">Restricted Page</A> |
                <A href="/logout/">Logout</A>
        {% else %}
                <A href="/register/">Register</A> |
                <A href="/login/">Login</A>
        {% endif %}
        </P>
        
        <h3>Hi, Welcome</h3>
        
    </div>
</div>

<div class="row white">
    <div class="columns large-12">
        <form method="POST" id="post-form">
            {% csrf_token %}
            
            <h6>Enter your username</h6>
            <div class="fieldWrapper" id="the_post">
                {{ form.text }}
            </div> 
            
            <div class = "hiders">
            
            <!--
            <h5>Enter your email</h5>
            <div class="fieldWrapper" id="the_email" >
                {{ form.email }}
            </div>
            -->
            
            <h6>Enter your password</h6>
            <div class="fieldWrapper" id="the_password">
                {{ form.password }}
            </div>       
            
            </div>
            
            <div id="results"></div>
            <div id = "button">
            <input type="submit" value="Post" class="tiny button">
            </div>
            
            
                       
            
        </form>
    </div>
</div>

<!-- The feed -->
<div class="row white">
    <div class="columns large-12">
        
    </div>
</div>
<script src="static/scripts/main.js"></script>
{% endblock %}
