{% extends "authsite/base.html" %}
{% block content %}
<br><br>
<div class="row white">
    <div class="large-12 columns">
        <P>
        {% if user.is_authenticated %}
                Welcome {{ user.username }}  |
                <A href="/restricted/">Restricted Page</A> |
                <A href="/logout/">Logout</A>
        {% else %}
                <A href="/register/">Register</A> |
                <A href="/login/">Login</A>
        {% endif %}
        </P>
        
        <h3>Login</h3>
        
    </div>
</div>

<div class="row white">
    <div class="columns large-12">
        <FORM id="login_form" method="post" action="/login/">
        {% csrf_token %}
                Username:
                <input type="text" name="username" value="" id="username" size="50" />
            <br />
                Password:
                <input type="password" name="password" value="" id="password" size="50" />
                <br />
        <INPUT type="submit" name="submit" value="submit" />
        </FORM>
        
        
    </div>
</div>

<!-- The feed -->
<div class="row white">
    <div class="columns large-12">
        
    </div>
</div>


{% endblock %}       
        
