{% extends "authsite/base.html" %}
{% block content %}
<!--
<br><br>
<div class="row white">
    <div class="large-12 columns">
        <P>
        {% if user.is_authenticated %}
                Welcome {{ user.username }}  |
                
                <A href="/logout/">Logout</A>
        {% else %}
                <A href="/register/">Register</A> |
                <A href="/login/">Login</A>
        {% endif %}

        | <A id="admin_link" href="/admins/">Admins</A>
        | <A id="superuser_link" href="/superuser/">SuperUsers</A>
        | <A id="staff_link" href="/staff/">Staff</A>
        </P>
        
        <h3>Welcome</h3>
        
    </div>
</div>
-->

<!--
<div class="row white">
-->
    <div class="columns large-12">
        
        {% if registered %}
         <h3> Thank you for registering. </h3>
        <br>
        <form action="/login/"><input type="Submit" value="Go Back" class="tiny button" /></form>
{% else %}
        
        <form id="user_form" method="post" action="/register/" >
            {% csrf_token %}
                
                {{ uform.as_p }}
                
                <INPUT type="submit" name="submit" value="Submit" class="tiny button" />
        </form>
{% endif %}
        
    </div>
</div>

{% endblock %}

