{% extends "authsite/base.html" %}
{% block content %}
<br><br>
<div class="row white">
    <div class="large-12 columns">
        <P>
        {% if user.is_authenticated %}
                Welcome {{ user.username }}  |
               
                <A href="/logout/">Logout</A>
        {% else %}
                <A href="/register/">Register</A> | 
                <A id ="login_link" href="/login/">Login</A> 
                
        {% endif %}
<!--
        Richie Edit
-->
        | <A id="admin_link" href="/admins/">Admins</A>
        | <A id="superuser_link" href="/superuser/">SuperUsers</A>
        | <A id="staff_link" href="/staff/">Staff</A>
        
        <h3>Super User</h3>
        
    </div>
</div>

<div class="row white">
    



    <div class="columns large-12" id="form_holder">
        
                
       <p>You can see this page only because you have superuser rights. Good for you!</p>
       <form action="/login/"><input type="Submit" value="Go Back" class="tiny button" /></form>
        
        
    </div>
</div>

{% endblock %}       
        


